#clock {
  width: 700px;
  text-align: center;
  margin-top: 50px;
}

#break-label {
  padding: 20px;
  font-size: 25px;
}

#session-label {
  padding: 20px;
  font-size: 25px;
}

#timer-label {
  font-size: 25px;
}

#time-left {
  font-size: 70px;
  padding: 10px;
}

span {
  padding: 10px;
}

.btn {
  margin: 5px;
}